@charset "UTF-8";

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #544837;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 156%;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

._title {
  color: #2F281E;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 36px;
  font-size: 36px;
  line-height: 150%;
  margin-bottom: 20px;
}

._label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 5px;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 187px;
          flex: 0 0 187px;
}

.header__btns {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 240px;
          flex: 0 0 240px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__btns-adaptive {
  display: none;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30.9734513274%;
          flex: 1 1 30.9734513274%;
}

.menu__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__item {
  margin: 0 25px 0 0;
}

.menu__link {
  color: #2F281E;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sign-in {
  font-family: "Poppins";
  color: #173A56;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  background-color: #fff;
  padding: 11px 24px;
}

.sign-up {
  font-family: "Poppins";
  color: #fff;
  font-weight: 600;
  padding: 11px 24px;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid #FF9900;
  border-radius: 4px;
  background-color: #FF9900;
}

.icon-menu {
  display: none;
  outline: none;
}

.footer__container {
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: 1px solid rgba(188, 208, 229, 0.496913);
}

.footer__body {
  margin-top: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 380px 330px;
  grid-template-columns: 1fr 380px 330px;
  gap: 80px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  color: #2F281E;
  font-size: 16px;
  line-height: 35px;
}

.subscribe {
  font-family: "Poppins";
}

.subscribe__form {
  position: relative;
}

.subscribe__form .form__error {
  font-family: "Poppins";
  position: absolute;
  top: 36%;
  margin: 3px 0 0 0;
  left: 0;
  color: red;
  font-size: 12px;
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  background-color: #FF9900;
  color: #fff;
  border-radius: 4px;
  padding: 8px 15px;
  font-family: "Poppins";
  outline: none;
}

.subscribe__input {
  margin: 0 0 20px 0;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #BCD0E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 15px;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 175%;
  color: #BCD0E5;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;
}

.main__info {
  padding-top: 85px;
}

.main__title {
  font-size: 44px;
  margin-bottom: 30px;
  line-height: 123%;
}

.main__text {
  margin-bottom: 45px;
}

.main__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__btn {
  padding: 15px 40px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  background-color: #FF9900;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  margin: 0 30px 0 0;
}

.main__video-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline !important;
  color: #FF9900;
  position: relative;
  padding: 0 0 0 30px;
}

.main__video-link::before {
  content: "";
  background-image: url("../img/icons/play-button.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 20px;
}

.main__img {
  width: 603px;
  height: 495px;
  -o-object-fit: cover;
     object-fit: cover;
}

._no-webp .benefits{
  background-image: url("../img/benefits/benefits-bg.png"); }

.benefits {
  padding-top: 10px;
  padding-bottom: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.benefits__title {
  text-align: center;
  margin-bottom: 45px;
}

.benefits__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefits__item {
  padding: 10px;
  max-width: 240px;
  margin-bottom: 40px;
}

.benefits__img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}

.benefits__item-title {
  color: #2F281E;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin: 0 0 13px 0;
}

.benefits__btn {
  text-align: center;
  margin: 15px 0 0 0;
}

.benefits__btn a {
  text-transform: uppercase;
  color: #fff;
  padding: 15px 33px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  background-color: #FF9900;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.info {
  padding-top: 120px;
  padding-bottom: 120px;
  font-size: 16px;
  line-height: 162%;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__inner:not(:last-child) {
  margin-bottom: 115px;
}

.info__content {
  max-width: 486px;
}

.info__text {
  margin: 0 0 25px 0;
}

.info__text-subtitle {
  font-weight: bold;
  margin: 0 0 12px 0;
  color: #2F281E;
}

.info__img {
  max-width: 572px;
  max-height: 609px;
}

.info__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px 0;
}

.info__text-block img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  height: 30px;
  margin: 0 30px 0 0;
}

.info__text-block .info__text {
  margin: 0;
}

._no-webp .experts{
  background-image: url("../img/experts/experts-bg.png"); }

.experts {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.experts__container {
  position: relative;
  padding: 230px 0 380px 0;
}

.experts__content {
  margin: 0 auto;
  max-width: 542px;
  text-align: center;
  padding: 0 10px;
}

.experts__text {
  margin: 0 0 45px 0;
}

.experts__btn {
  padding: 15px 30px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  background-color: #FF9900;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.experts__item {
  position: absolute;
}

.experts__item-1 {
  left: 0;
  top: 223px;
}

.experts__item-1 .experts__item-text {
  position: absolute;
  right: -264px;
  top: -40px;
}

.experts__item-1 .experts__item-text::after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  left: 10%;
  bottom: -8px;
}

.experts__item-1 .experts__item-text::before {
  content: "";
  position: absolute;
  right: 93%;
  border-radius: 50%;
  bottom: -17px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
          box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  width: 9px;
  height: 9px;
}

.experts__item-2 {
  right: 93px;
  top: 157px;
}

.experts__item-2 .experts__item-text {
  position: absolute;
  left: -280px;
  top: -40px;
}

.experts__item-3 {
  left: 210px;
  bottom: 233px;
}

.experts__item-3 .experts__item-text {
  position: absolute;
  left: -245px;
  top: -40px;
}

.experts__item-4 {
  right: 363px;
  bottom: 135px;
}

.experts__item-4 .experts__item-text {
  position: absolute;
  left: -327px;
  top: -45px;
}

.experts__item-5 {
  right: 0;
  top: 480px;
}

.experts__item-5 .experts__item-text {
  position: absolute;
  left: -240px;
  top: -50px;
}

.experts__item-2 .experts__item-text,
.experts__item-3 .experts__item-text,
.experts__item-4 .experts__item-text,
.experts__item-5 .experts__item-text {
  position: absolute;
}

.experts__item-2 .experts__item-text::after,
.experts__item-3 .experts__item-text::after,
.experts__item-4 .experts__item-text::after,
.experts__item-5 .experts__item-text::after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  right: 10%;
  bottom: -8px;
}

.experts__item-2 .experts__item-text::before,
.experts__item-3 .experts__item-text::before,
.experts__item-4 .experts__item-text::before,
.experts__item-5 .experts__item-text::before {
  content: "";
  position: absolute;
  left: 93%;
  border-radius: 50%;
  bottom: -17px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
          box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  width: 9px;
  height: 9px;
}

.experts__avatar {
  position: relative;
  width: 98px;
  height: 98px;
  border-radius: 50%;
}

.experts__item-text {
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
          box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  padding: 15px 25px;
}

@media (min-width: 767.98px) {
  .main__info {
    max-width: 518px;
  }

  .main__btn {
    margin: 0 30px 30px 0;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1142px) {
  .main__btn {
    margin: 0 30px 0 0;
  }
}

@media (max-width: 1142px) {
  ._container {
    max-width: 970px;
  }

  .experts__item-1 {
    top: 200px;
  }

  .experts__item-3 {
    left: 250px;
  }

  .experts__item-4 {
    bottom: 60px;
    right: 250px;
  }
}

@media (max-width: 1130px) {
  ._title {
    font-size: calc(24px + 12 * ((100vw - 320px) / 810));
  }

  .footer__container {
    padding-top: calc(50px + 50 * ((100vw - 320px) / 810));
  }

  .footer__container {
    padding-bottom: calc(50px + 50 * ((100vw - 320px) / 810));
  }

  .footer__body {
    margin-top: calc(20px + 25 * ((100vw - 320px) / 810));
  }

  .main__body {
    padding-top: calc(25px + 25 * ((100vw - 320px) / 810));
  }

  .main__body {
    padding-bottom: calc(50px + 50 * ((100vw - 320px) / 810));
  }

  .main__info {
    padding-top: calc(40px + 45 * ((100vw - 320px) / 810));
  }

  .main__title {
    font-size: calc(24px + 20 * ((100vw - 320px) / 810));
  }

  .main__title {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 810));
  }

  .main__text {
    margin-bottom: calc(30px + 15 * ((100vw - 320px) / 810));
  }

  .benefits {
    padding-bottom: calc(60px + 30 * ((100vw - 320px) / 810));
  }

  .benefits__title {
    margin-bottom: calc(20px + 25 * ((100vw - 320px) / 810));
  }

  .benefits__item {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 810));
  }

  .info {
    padding-top: calc(60px + 60 * ((100vw - 320px) / 810));
  }

  .info {
    padding-bottom: calc(60px + 60 * ((100vw - 320px) / 810));
  }

  .info__inner:not(:last-child) {
    margin-bottom: calc(50px + 65 * ((100vw - 320px) / 810));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header__btns {
    display: none;
  }

  .header__btns-adaptive {
    display: block;
  }

  .logo {
    padding: 15px 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item {
    margin: 0 0 30px 0;
    width: 100%;
    border-bottom: 1px solid #BCD0E5;
  }

  .menu__link {
    font-size: 20px;
    display: block;
  }

  .menu__body {
    position: fixed;
    width: 40%;
    height: 100%;
    overflow: auto;
    top: 0;
    right: -100%;
    -webkit-transition: right 0.3s ease 0s;
    -o-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    padding: 115px 16px;
    z-index: 100;
    background-color: #fff;
    -webkit-box-shadow: 3px -2px 42px -13px rgba(34, 60, 80, 0.2) inset;
            box-shadow: 3px -2px 42px -13px rgba(34, 60, 80, 0.2) inset;
  }

  .menu__body._active {
    right: 0;
  }

  .sign-in {
    margin-bottom: 10px;
  }

  .sign-up {
    margin-bottom: 10px;
  }

  .icon-menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 25px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 101;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__body {
    -ms-grid-columns: 1fr 30%;
    grid-template-columns: 1fr 30%;
  }

  .footer__body-item {
    display: none;
  }

  .info__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .info__inner--second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .info__content {
    max-width: 100%;
  }

  .info__img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }

  .experts__item {
    display: none;
  }
}

@media (max-width: 991.98px) and (max-width: 1130px) {
  .info__img {
    margin-top: calc(50px + 40 * ((100vw - 320px) / 810));
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .menu__body {
    width: 60%;
  }

  .footer__body {
    display: block;
  }

  .footer__menu {
    margin-bottom: 30px;
  }

  .main__img {
    display: none;
  }

  .info__img {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 767.98px) and (max-width: 1130px) {
  .footer__menu {
    margin-bottom: calc(20px + 10 * ((100vw - 320px) / 810));
  }
}

@media (max-width: 500px) {
  .benefits__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 479.98px) {
  .menu__body {
    width: 100%;
  }
}

@media (max-width: 387px) {
  .main__btn {
    margin: 0 30px 30px 0;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #FF9900;
  }

  .subscribe__button:hover {
    background-color: #ec6c1c;
  }

  .main__btn:hover {
    background-color: #ec6c1c;
  }

  .benefits__btn a:hover {
    background-color: #ec6c1c;
  }

  .experts__btn:hover {
    background-color: #ec6c1c;
  }
}

._webp .benefits{ background-image: url(../img/benefits/benefits-bg.webp); }

._webp .experts{ background-image: url(../img/experts/experts-bg.webp); }